.img{
    height: 400px;
    width: 60vw;
}
.center{
    padding: 10px;
}
.person{
    height: 100px;
    width: 100px;
    border-radius: 50px;
    margin: 10px;
}
.profile{
    display: flex;
    padding: 10px;
}
.name{
    margin-top: 40px;
}
.blog-items{
    margin: 50px;
    text-align: center;
}